:host {
	display: flex;
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
	background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
}


.permissions-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 5rem;
	color: #f6b6d6;
	font-weight: 1000;
	margin-bottom: 1.5rem;
	font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto;
}

button {
	margin: 0 1rem 0 1rem;
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	background-color: #ffee69;
	color: rgb(0, 0, 0);
	font-size: 1rem;
	font-weight: 600;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover:not(.disabled-button) {
	background-color: #ff85c1;
	transform: scale(1.05);
}

button:active:not(.disabled-button) {
	background-color: #ff4a8d;
	transform: scale(0.95);
}

.disabled-button {
	background-color: lightgray;
	cursor: not-allowed;
}
