<section class="container">
	<mat-card appearance="outlined">
		<mat-card-header>
			<mat-card-title>New Macro</mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<mat-stepper class="stepper" [orientation]="(stepperOrientation | async)!">
				<mat-step label="Set a name for the Macro">
					<form>
						<mat-form-field>
							<mat-label>Macro's name</mat-label>
							<input
								matInput
								required
								[value]="macroName()"
								(input)="saveMacroName($event)"
							/>
						</mat-form-field>
						<div>
							<button
								type="button"
								mat-button
								matStepperNext
								[disabled]="!macroName()"
							>
								Next
							</button>
						</div>
					</form>
				</mat-step>

				<mat-step label="Select an action">
					<form>
						<mat-grid-list class="mat-grid-list" cols="3" rowHeight="8rem">
							<mat-chip-listbox (change)="onActionSelected($event)">
								@for (action of actions; track action) {
									<mat-grid-tile
										[colspan]="action.cols"
										[rowspan]="action.rows"
										[style.background]="action.color"
									>
										<mat-chip-option [value]="action.text">{{
											action.text
										}}</mat-chip-option>
									</mat-grid-tile>
								}
							</mat-chip-listbox>
						</mat-grid-list>

						<div>
							<ng-content select="[selector]"></ng-content>
							<button type="button" mat-button matStepperPrevious>Back</button>
							<button type="button" mat-button matStepperNext>Next</button>
						</div>
					</form>
				</mat-step>

				<mat-step label="Select one or more Labels">
					<form>
						<mat-form-field>
							<mat-chip-grid #chipGrid aria-label="Enter template form keywords">
								@for (label of selectedLabels(); track label.id) {
									<mat-chip-row (removed)="removeKeyword(label)">
										{{ label.name }}
										<button matChipRemove>
											<mat-icon>cancel</mat-icon>
										</button>
									</mat-chip-row>
								}

								<input
									name="currentLabel"
									placeholder="Add label"
									#labelInput
									[formControl]="currentLabel"
									[matChipInputFor]="chipGrid"
									[matAutocomplete]="auto"
									[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
									(matChipInputTokenEnd)="addKeywordInputEvent($event)"
								/>
								<mat-autocomplete #auto="matAutocomplete">
									@for (label of filteredLabels(); track label) {
										<mat-option
											(onSelectionChange)="
												addKeywordFromOption($event, labelInput)
											"
											[value]="label"
											>{{ label }}</mat-option
										>
									}
								</mat-autocomplete>
							</mat-chip-grid>
						</mat-form-field>

						<div>
							<ng-content select="[selector]"></ng-content>
							<button type="button" mat-button matStepperPrevious>Back</button>
							<button type="button" mat-button matStepperNext>Next</button>
						</div>
					</form>
				</mat-step>

				<mat-step label="Where to apply">
					@switch (selectedAction()) {
						@case (ACTION.Attachment) {
							<div class="drive-picker-container">
								<button mat-raised-button (click)="openPicker(ACTION.Attachment)">
									Select Google Drive Folders
								</button>
								@if (selectedFolders().length > 0) {
									<mat-chip-listbox>
										@for (folder of selectedFolders(); track folder.id) {
											<mat-chip>{{ folder.name }}</mat-chip>
										}
									</mat-chip-listbox>
								}
							</div>
						}
						@case (ACTION.Content) {
							OPCIONES DE Contenido
						}
						@case (ACTION.Summary) {
							OPCIONES DE Resumen
						}
						@case (ACTION.Dates) {
							OPCIONES DE Fechas
						}
					}
				</mat-step>

				<mat-step>
					<ng-template matStepLabel>Done</ng-template>
					<p class="done">You are now done.</p>
					<div>
						<button mat-button matStepperPrevious>Back</button>
						<button mat-button (click)="executeFinalAction()">Finish</button>
					</div>
				</mat-step>
			</mat-stepper>
		</mat-card-content>
	</mat-card>
</section>
